{{#if firstAttempt}}
<h1>Well done, here are your results:</h1>
{{else if betterActivityResult}}
<h1>Congrats! Here are your results:</h1>
{{else}}
<h2>Sorry, you didn't improve your best attempt's results. On this attempt you got:</h2>
{{/if}}

<div>
    <ul>
        <li>Attempt: {{attemptNumber}}</li>
        <li>Grade: {{grade}}/{{numberOfQuestions}}</li>
        <li>Points: {{points}}</li>
    </ul>
</div>

<a href="retry">Try again</a> <a href="/dashboard">Go Back</a>