<h1>Welcome to the Student Section</h1>

    <a href="dashboard/refresh-activities">Refresh Activities!</a>
{{# if activities}}
<table>
    <ul class="activity-grid">
        {{#each activities}}
        <div  class="activity-container">
        <li>
            <h2>{{this.title}}</h2>
        </li>
        <li>Activity ID: <a href={{this.activityLink}}>{{this.activityID}}</a></li>
        <li>Created by: {{this.teacherID}}</li>
        <li>Video: <a href="{{this.videoLink}}">Link</a></li>
        <li>Category: {{this.category}}</li>
        <li>Tags: {{this.tags}}</li>
        <br>
        </div>
        {{/each}}
    </ul>
</table>
{{/if}}