<h1 class="title">Welcome to the Student Section</h1>

<a href="dashboard/refresh-activities" class="btn2 btn3">Refresh Activities!</a>
{{# if activities}}
<table>
    <ul class="activity-grid">
        {{#each activities}}
        <div class="activity-container" onclick="location.href='{{this.activityLink}}';">
            <h2>{{this.title}}</h2>
            <li>Activity ID: {{this.activityID}}</li>
            <li>Created by: {{this.teacherID}}</li>
            <li>Category: {{this.category}}</li>
            <li>Tags: {{this.tags}}</li>
            <br>
        </div>
        {{/each}}
    </ul>
</table>
{{/if}}
{{# if completedActivities}}
<table>
    <ul class="activity-grid">
        {{#each completedActivities}}
        <div class="activity-container" onclick="location.href='{{this.activityLink}}';">
            <h2>{{this.title}}</h2>
            <li>Activity ID: {{this.activityID}}</li>
            <li>Created by: {{this.teacherID}}</li>
            <li>Category: {{this.category}}</li>
            <li>Tags: {{this.tags}}</li>
            <br>
        </div>
        {{/each}}
    </ul>
</table>
{{/if}}