<h1>Welcome to the Student Section</h1>

<a href="dashboard/refresh-activities">Refresh Activities!</a>
{{# if activities}}
<table>
    <ul>
        {{#each activities}}
        <li>
            <h2>{{this.title}}</h2>
        </li>
        <li>Activity ID: {{this.activityID}} <a href={{this.activityLink}}>Go to activity!</a></li>
        <li>Created by: {{this.teacherID}}</li>
        <li>Category: {{this.category}}</li>
        <li>Tags: {{this.tags}}</li>
        <br>
        {{/each}}
    </ul>
</table>
{{/if}}