<head>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>

<h1 class="title">Your profile</h1>
{{# if user}}
<section class="container">
    <ul class>
        <li>{{user.studentID}}</li>
        <li>{{user.email}}</li>
        <li>{{user.name}}</li>
        <li>{{user.surname}}</li>
        <li>{{user.teacherID}}</li>

    </ul>
</section>
{{/if}}