<h1>Welcome to your profile page</h1>
{{# if user}}
<section>
    <ul class>
        <li>{{user.studentID}}</li>
        <li>{{user.email}}</li>
        <li>{{user.name}}</li>
        <li>{{user.surname}}</li>
        <li>{{user.teacherID}}</li>

    </ul>
</section>
{{/if}}